@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  header {
    padding: 1rem 2rem;
    gap: 2rem;
  }
  #profile {
    display: flex;
    margin-top: 10rem;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .about-pic {
    width: 300px;
    height: 300px;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  footer p {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  header {
    gap: 1rem;
    padding: 1rem 1rem;
  }
  header .logo {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  header #menu-icon {
    display: block;
  }
  .nav-links {
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3rem;
    display: none;
  }
  .nav-links li {
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .nav-links.active {
    display: block;
  }
  header {
    padding: 1rem 1rem;
    gap: 4rem;
  }

  header .logo {
    font-size: 1.5rem;
  }

  #contact,
  footer {
    height: 25vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }

  .about-pic {
    width: 200px;
    height: 203px;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
